
#clock{
    font-size: 150px;
    width: 1000px;
    margin: 200px;
    text-align: center;
    color: rgb(38, 28, 87);
    border: 4px solid rgb(228, 255, 189);
    border-radius: 50px;
}

body{
    background-color: aqua;
}